.principal {
    background-color: #11284b;
    margin-top: 60px;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(250deg, rgba(0, 0, 0, 0) 0%, #090909aa 97%), url(../../assets/images/wallpaper.jpg);
    padding: 2rem 1rem;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
  
.contain-principal {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.img-container {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 5px solid #000;
    box-shadow: 0.3em 0.3em 1em;
}

#brand {
    font-size: 3rem;
}

.description-principal {
    color: #FFF;
    opacity: 0.75;
    max-width: rem(500);
    width: 50vw;
    font-size: 1.5rem;
}
  
.control {
    padding-left: rem(50);
    padding-right: rem(50);
    font-size: rem(22);
}

@media (max-width: 1200px) {

    .img-container {
        width: 60vw;
        height: 60vw;
        margin: 40px auto;
    }

    .principal {
        height: fit-content;
    }

    .contain-principal {
        flex-direction: column;
    }

    .description-principal {
        width: 80vw;
        font-size: 3.2vw;
    }
}
  
@media (max-width: 768px) {

    .inner-principal {
        flex-direction: column;
    }
    
    .content-principal {
        margin-right: 0;
    }
    
    .title {
        max-width: 100%;
        font-size: rem(34);
        font-size: rem(34);
        line-height: 1.15;
    }
    
    .description-principal {
        max-width: 100%;
    }
    
    .control {
        width: 100%;
    }
      
}